<mat-form-field>
  <input matInput [matDatepicker]="picker1" placeholder="Choose start date" [formControl]="date" [(ngModel)]="startDate" (input)="updateCurrency()">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <input matInput [matDatepicker]="picker2" placeholder="Choose end date" [(ngModel)]="finishDate" (input)="updateCurrency()">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>
<button mat-raised-button color="primary" value="chart" (click)="updateCurrency()">apply dates</button>
  <button mat-raised-button color="primary" (click)="toggleFavorite()">toggle favorite
    <!--<mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>-->
  </button>
<canvas id="myChart" width="600" height="400"></canvas>