.currencies-list {
	max-height: 80vh;
	width: 30vw;
	overflow-y: scroll;
}

.currencies-list__currency {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.currenciy__label {
	padding: 2px;
	border-radius: 5px;
	background-color: gray;
}

.currencies-component_positive-change {
	min-width: 4rem;
	background-color: limegreen;
	    border-radius: 5px;
	    padding: 2px;
}

.currencies-component_negative-change {
	background-color: red;
}

button {
	border-radius: 5px;
}

button.active {
	background-color: #7b1fa2;
}

button:hover {
	background-color: #ae1af2;
}