.favorite-component {
	display: inline-flex;
}

.mat-chip-list-stacked {
	min-width: 5rem;
	margin-right: 1rem;
}

.mat-chip {
	cursor: pointer;
	justify-content: space-between;
}

.mat-chip.active {
	background-color: #7b1fa2;
}