.favorite-component {
	display: inline-flex;
}

.mat-chip-list-stacked {
	min-width: 6rem;
	margin-right: 2rem;
}

.mat-chip {
	cursor: pointer;
	justify-content: space-between;
}

.mat-chip.active {
	background-color: #7b1fa2;
}

.favorites__icon {
	font-size: 5rem;
	display: block;
}
